<div class="jumbotron" >
    <h1 class="display-4" style="text-align: center;">Películas Clásicas de Cine</h1>
    <p class="lead" style="text-align: center;">  Algunas historias son tan grandes que vivirán por siempre. Estos clásicos perduran en el tiempo.</p>
    <hr class="my-4">
    <div>
        <img src="../../../assets/home.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <hr class="my-4">
    <p><small>Nos adentramos en territorio realmente cinéfilo y casi arqueológico, buceando en aguas tan fascinantes como pantanosas: las mejores películas clásicas de la historia del cine. Una biblioteca del mejor cine que Hollywood nos brindó a mediados del siglo XX con algunas de sus películas más influyentes desde su nacimiento, conformando el imaginario cultural de numerosas generaciones. </small></p>
  </div>
