<div class="jumbotron">
    <h1 class="display-4">Peliculas</h1>
    <hr class="my-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="linkCliente" routerLink="./" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Pelicula</a>
        </li>
        <li class="nav-item">
            <a id="linkCrearCliente" routerLink="./crear" routerLinkActive="active" class="nav-link">Crear pelicula</a>
        </li>
        <li class="nav-item">
            <a id="linkEliminarCliente" routerLink="./eliminar" routerLinkActive="active" class="nav-link">Borrar pelicula</a>
        </li>
        <li class="nav-item">
            <a id="linkListarCliente" routerLink="./listar" routerLinkActive="active" class="nav-link">listar pelicula</a>
        </li>
      </ul>
      
  </div>

  <router-outlet></router-outlet>
  
