<div class="container" >

    <div class="card-body">
        <h1 class="display-6">Nuevo cliente</h1>
        <p><small>A continuación ingrese todos los datos</small></p>
        <hr>
        <form  [formGroup]="crearClienteForm" autocomplete="off" (ngSubmit)="create(crearClienteForm)">
            <div class="form-group row">
                <label for="nombre" class="col-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input required minlength="5" type="text" class="form-control" formControlName="nombre" name="nombre" [(ngModel)]="cliente.nombre"  >
                    <small *ngIf="crearClienteForm.get('nombre').hasError('minlength')"  class="form-text text-danger"> Ingrese 5 caracteres como minimo </small>
                    
                </div>
            </div>

            <div class="form-group row">
                <label for="apellido" class="col-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input  minlength="4" type="text" class="form-control" formControlName="apellido" name="apellido" [(ngModel)]="cliente.apellido" >
                    <small *ngIf="crearClienteForm.get('apellido').hasError('minlength')"  class="form-text text-danger"> Ingrese 5 caracteres como minimo </small>
                    <!--<small *ngIf="apellido.invalid"  class="form-text text-danger"> Ingrese 5 caracteres como minimo </small>-->
                    
                </div>
            </div>

            <div class="form-group row">
                <label for="cedula" class="col-label col-sm-2">Cédula</label>
                <div class="col-sm-6">
                    <input  minlength="6" type="text" class="form-control" formControlName="cedula" name="cedula" [(ngModel)]="cliente.cedula"  >
                    <small *ngIf="crearClienteForm.get('cedula').hasError('minlength')"  class="form-text text-danger"> Ingrese 5 caracteres como minimo </small>
                    <!--<small *ngIf="cedula.invalid"  class="form-text text-danger"> Cédula invalida (Ingrese 6 caracteres como minimo) </small>-->
                    
                </div>
            </div>

            <div class="form-group row">
                <label for="celular" class="col-label col-sm-2">Celular</label>
                <div class="col-sm-6">
                    <input  minlength="7" type="text" class="form-control" formControlName="celular" name="celular" [(ngModel)]="cliente.celular"  >
                    <small *ngIf="crearClienteForm.get('celular').hasError('minlength')"  class="form-text text-danger"> Ingrese 5 caracteres como minimo </small>
                    <!--<small *ngIf="celular.invalid"  class="form-text text-danger"> El número no es válido </small>-->
                    
                </div>
            </div>

            <div class="form-group row">
                <label for="dirrecion" class="col-label col-sm-2">Dirección</label>
                <div class="col-sm-6">
                    <input  minlength="4" type="text" class="form-control" formControlName="dirrecion" name="dirrecion" [(ngModel)]="cliente.dirrecion" >
                    <small *ngIf="crearClienteForm.get('dirrecion').hasError('minlength')"  class="form-text text-danger"> Ingrese 5 caracteres como minimo </small>
                    <!--<small *ngIf="dirrecion.invalid"  class="form-text text-danger"> Ingrese su ubicación </small>-->
                </div>
            </div>

            <div class="form-group row">
                <label for="correo" class="col-label col-sm-2">Correo</label>
                <div class="col-sm-6">
                    <input type="email" [pattern]="pattern" class="form-control" formControlName="correo" name="correo" [(ngModel)]="cliente.correo" >
                    <small *ngIf="crearClienteForm.get('correo').hasError('pattern')"  class="form-text text-danger"> Ingrese correo valido </small>
                    <!--<small *ngIf="correo.invalid"  class="form-text text-danger"> El correo es obligatorio </small>-->
                </div>
            </div>
            <hr>
            

            <button class="btn btn-success " type="submit" >Generar Cliente</button>
            <hr>
            <div *ngIf="crearCliente === true" class="alert alert-success text-center" role="alert" >
                <a href="" class="alert-link">¡Cliente creado con éxito!</a>
            </div>  
            <div *ngIf="crearClienteFallo === true" class="alert alert-danger text-center" role="alert" >
                <a href="" class="alert-link">¡Verífica las credenciales!</a>
            </div>  


        </form>
    </div>
</div>